<img src="/assets/img/{{ include.file }}"
  {% if include.class %}class="{{ include.class }}"{% endif %}
  {% if include.file_width %}width="{{ include.file_width }}"{% endif %} 
  {% if include.file_height %}height="{{ include.file_height }}"{% endif %}
  {% if include.css_width %}
    style="width:{{ include.css_width }};height:auto;aspect-ratio:{{ include.file_width }}/{{ include.file_height }};"
  {% else %}
    style="aspect-ratio:{{ include.file_width }}/{{ include.file_height }};"
  {% endif %}
  decoding="async" alt="{{ include.file }}">