<!-- Left sidebar/menu -->
<nav id="left-sidebar" class="sidebar"><br>
  <div class="w3-container w3-row">
    <div class="w3-col s4">
      <img src="/assets/img/ares-sofa2.png" alt="Ares" class="w3-circle w3-margin-right profile-picture-icon">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Lee Yan Le, <strong>Ryan</strong></span><br>
      <a href="https://github.com/leeyanleryan" class="w3-bar-item w3-button" title="GitHub"><i class="fa fa-github"></i></a>
      <a href="https://linkedin.com/in/leeyanleryan" class="w3-bar-item w3-button" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
      <a href="https://www.youtube.com/@Leehai" class="w3-bar-item w3-button" title="YouTube"><i class="fa fa-youtube-play"></i></a>
    </div>
  </div>
  <hr class="hr-sidebar">
  <div class="w3-container">
    <div class="w3-bar-block">
      <h4><strong>About</strong></h4>
      <a href="/about/profile/" class="w3-bar-item w3-button w3-padding {% if page.url == '/about/profile/' %} active{% endif %}"> Profile</a>
      {% include sidebar-submenu.html 
         subheader="Projects" 
         suburl="/about/projects/" 
         sublinks=site.data.projects 
         suborder="order" %}
      {% include sidebar-submenu.html 
         subheader="Experiences" 
         suburl="/about/experiences/" 
         sublinks=site.data.experiences 
         suborder="order" %}
      <a href="/about/awards/" class="w3-bar-item w3-button w3-padding {% if page.url == '/about/awards/' %} active{% endif %}"> Awards</a>
      <a href="/about/hobbies/" class="w3-bar-item w3-button w3-padding {% if page.url == '/about/hobbies/' %} active{% endif %}"> Hobbies</a>
    </div>
  </div>
  <hr class="hr-sidebar">
  <div class="w3-container">
    <h4><strong>Lyrics Translations</strong></h4>
    <div class="w3-bar-block">
      {% include sidebar-submenu.html 
         subheader="Aimer" 
         suburl="/lyrics-translations/aimer/" 
         sublinks=site.data.aimer 
         suborder="title" %}
      {% include sidebar-submenu.html 
         subheader="The Oral Cigarettes" 
         suburl="/lyrics-translations/the-oral-cigarettes/" 
         sublinks=site.data.the-oral-cigarettes 
         suborder="title" %}
    </div>
  </div>
  <hr class="hr-sidebar">
  <div class="w3-container">
    <div class="w3-bar-block">
      <h4><strong>Fun</strong></h4>
      <a id="random-page-button" class="w3-bar-item w3-button w3-padding"> Go to a random page</a>
    </div>
  </div>
  <hr class="hr-sidebar-invisible">
  <hr class="hr-sidebar-invisible">
</nav>

<!-- Overlay effect when opening left sidebar on small screens -->
<div id="sidebar-overlay" 
     class="w3-overlay w3-hide-large w3-animate-opacity close-side-menu" 
     onclick="w3_close()" 
     title="close side menu">
</div>