{%- assign lyrics = site.data["lyrics-translations"][include.band][include.song].lyrics -%}

<div id="page-lyrics-translation" class="w3-main">
  <section id="song-description" class="w3-container">
    <h2><b>{{ page.title }}</b></h2>
    <h5>
      {{ page.song_description }}
    </h5>
  </section>

  <hr class="hr-main-body">

  <section id="lyrics-translation" class="w3-container">
    <h2><b>Lyrics</b></h2>
    <h5 class="h5-text-gap">
      Click on any section to learn more about it. 
      {% if page.song_spotify %}
        Follows line by line from <a href="{{ page.song_spotify }}" target="_blank"> Spotify</a>.
      {% endif %}
    </h5>
    {% if page.lyrics_progress == "50%" %}
      <h5 class="h5-text-gap">
        NOTE:
        <ul class="ul-margin-top-0">
          <li>English translation is unrefined.</li>
          <li>Explanation box containing breakdown of words is incomplete.</li>
        </ul>
      </h5>
    {% endif %}
    {% include lyrics-translation.html lyrics=lyrics %}
  </section>
    
  <hr class="hr-main-body">

  <section id="lyrics-test" class="w3-container">
    <h2><b>Test</b></h2>
    <h5 class="h5-text-gap">
      Would you like to test your understanding? Select the correct meaning of the highlighted word!
    </h5>
    {% if page.lyrics_progress %}
      {% if page.lyrics_progress == "50%" %}
        <h5>
          NOTE:
          <ul class="ul-margin-top-0">
            <li>Explanation box containing breakdown of words is incomplete.</li>
            <li>Thus, there may be no questions available.</li>
          </ul>
        </h5>
      {% endif %}
    {% endif %}
    {% include lyrics-test.html lyrics=lyrics %}
  </section>
</div>

<script src="/assets/js/lyrics-translations.js"></script>