{%- assign lyrics = site.data["lyrics-translations"][include.band][include.song] -%}

<div id="page-lyrics-translation" class="w3-main">
  <section id="lyrics-translation" class="w3-container">
    <h2><b>{{ page.title }}</b></h2>
    <h5>
      {{ page.song_description }}
    </h5>
  </section>

  <hr class="hr-main-body">

  <section id="lyrics-translation" class="w3-container">
    <h2><b>Lyrics</b></h2>
    <h5>
      {{ page.lyrics_guide }}
    </h5>
    {% include lyrics-translation.html lyrics=lyrics %}
  </section>
    
  <hr class="hr-main-body">

  <section id="lyrics-translation" class="w3-container">
    <h2><b>Test</b></h2>
    <h5>
      {{ page.lyrics_test }}
    </h5>
    {% include lyrics-test.html lyrics=lyrics %}
  </section>
</div>

<script src="/assets/js/lyrics-translations.js"></script>