<ul class="media-list">
  {% assign items = include.sublinks.subheaders | sort: include.sublinks.header.order %}
  {% for item in items %}
    {% unless item.url == include.exclude %}
      <li class="media-item">
        <a href="{{ item.url }}" class="media-link">
          <div class="w3-row media-card">
            <div class="w3-col s4 m4">
              {% if item.image %}
                <img src="{{ item.image }}" alt="{{ item.title }}" class="media-thumb">
              {% elsif item.video %}
                {% include video-player.html file=item.video width="100%" class="media-thumb" %}
              {% endif %}
            </div>
            <div class="w3-col s8 m8">
              <h4 class="media-title"><b>{{ item.title }}</b></h4>
              <h6 class="media-excerpt">
                {{ item.excerpt | default: item.content | strip_html }}
              </h6>
            </div>
          </div>
        </a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>