{% assign section_title = include.section_title %}
{% assign header = include.header %}
{% assign items = site.data.links[section_title][header].subheaders %}

<ul class="media-list">
  {% for item in items %}
    {% assign item_title = item[0] %}
    {% assign item_info = item[1] %}
    {% assign item_url = item_info.url %}
    {% assign item_image = item_info.image %}
    {% assign item_video = item_info.video %}
    {% assign item_excerpt = item_info.excerpt %}
    {% unless item_url == page.url %}
      <li class="media-item">
        <a href="{{ item_url }}" class="media-link">
          <div class="w3-row media-card">
            <div class="w3-col s4 m4">
              {% if item_image %}
                {% include image-loader.html file=item_image class="media-thumb" css_width="100%" %}
              {% elsif item_video %}
                {% include video-loader.html file=item_video class="media-thumb" css_width="100%" %}
              {% endif %}
            </div>
            <div class="w3-col s8 m8">
              <h4 class="media-title"><b>{{ item_title }}</b></h4>
              <h6 class="media-excerpt">
                {{ item_excerpt | strip_html }}
              </h6>
            </div>
          </div>
        </a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>