<!-- Navigation Arrows -->
<a href="{{ page.left_url }}" class="lylr-nav-arrow lylr-nav-arrow-left w3-hide-small">
  <!-- Label above the arrow -->
  <div class="lylr-nav-arrow">{{ page.left_label }}</div>
  <div class="lylr-arrow-symbol">&#10094;</div>
</a>

<a href="{{ page.right_url }}" class="lylr-nav-arrow lylr-nav-arrow-right w3-hide-small">
  <!-- Label above the arrow -->
  <div class="lylr-nav-arrow">{{ page.right_label }}</div>
  <div class="lylr-arrow-symbol">&#10095;</div>
</a>

<!-- NAVIGATION BOTTOM BAR (Small screens) -->
<div class="lylr-nav-bottom">
  <a href="{{ page.left_url }}">&#10094; {{ page.left_label }}</a>
  <a href="{{ page.right_url }}">{{ page.right_label }} &#10095;</a>
</div>