<!-- Top container -->
<div id="topbar" class="w3-bar w3-top w3-black w3-large">
  <button class="w3-bar-item w3-button w3-hover-none w3-hover-text-grey no-zoom" onclick="w3_open(); this.blur();">
    <i class="fa fa-bars"></i>  Menu
  </button>
  <form id="topbar-search" onsubmit="return false;">
    <input id="search-input" type="text" placeholder="Search…">
    <ul id="search-results"></ul>
  </form>
  <span class="w3-bar-item w3-right">
    <i class="fa fa-moon-o" style="margin-right:10px"></i>
    <label class="switch">
      <input id="toggle-dark-mode" type="checkbox">
      <span class="slider"></span>
    </label>
  </span>
</div>