<video autoplay muted loop playsinline preload="metadata" 
  {% if include.class %}class="{{ include.class }}"{% endif %}
  {% if include.file_width %}width="{{ include.file_width }}"{% endif %}
  {% if include.file_height %}height="{{ include.file_height }}"{% endif %}
  {% if include.css_width %}
    style="width:{{ include.css_width }};height:auto;aspect-ratio:{{ include.file_width }}/{{ include.file_height }};"
  {% else %}
    style="aspect-ratio:{{ include.file_width }}/{{ include.file_height }};"
  {% endif %}>
  <source src="/assets/video/{{ include.file }}.webm" type="video/webm">
  <source src="/assets/video/{{ include.file }}.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>