/* default hidden & right-border in light-mode */
#left-sidebar {
  display: none;
  border-right: var(--light-mode-border);
}

/* dark-mode border flips */
body.dark-mode #left-sidebar {
  border-right: var(--dark-mode-border);
}

/* show on desktop */
/* @media (min-width: 1181px) {
  #left-sidebar {
    display: block;
    left: 0;
  }
} */