.lyrics-translations {
    text-align:center; 
    padding-top:2px;
}

.lyrics-stanza {
    width: fit-content;
    margin: auto;
    background: transparent;
    border-radius: var(--pill-border-radius);
}

.lyrics-stanza:hover {
    background: var(--light-mode-hover-background-color);
}

body.dark-mode .lyrics-stanza:hover {
    background: var(--dark-mode-hover-background-color);
}