.w3-main {
  margin: 43px auto 20px;
  max-width: 900px;
  padding-bottom: 20px;
  transition: none;
}

hr.hr-main-body {
  height: 1px;
  color: var(--light-mode-border-color);
  background: var(--light-mode-border-color);
  font-size: 0;
  border: 0;
  transition: background-color var(--theme-transition) ease, 
              color var(--theme-transition) ease;
}

body.dark-mode hr.hr-main-body {
  color: var(--dark-mode-border-color);
  background: var(--dark-mode-border-color);
}