.media-list {
  list-style: none;    /* no bullets */
  margin: 0;           /* reset default ul margin */
  padding: 0;          /* reset default ul padding */
}

.media-list li {
  margin: 0;
  padding: 0;
}

.media-item {
  border-radius: var(--pill-border-radius);
}

.media-item:hover {
  background-color: var(--light-mode-hover-background-color);
}

body.dark-mode .media-item:hover {
  background-color: var(--dark-mode-hover-background-color);
}

.media-card {
  display:flex; 
  align-items:flex-start;
}

.media-thumb {
  width:100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  padding: 5px 5px;
  border-radius: var(--pill-border-radius);
}

.media-title {
  margin-top: 5px; 
  margin-left: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.media-excerpt {
  margin-top:0; 
  margin-left:15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (min-width: 1181px) {
  .media-excerpt {
    -webkit-line-clamp: 2;
  }
}

@media (max-width: 1180px) {
  .media-excerpt {
    -webkit-line-clamp: 1;
  }
}