.nav-arrow {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  z-index: 998;
  width: 80px;
  text-align: center;
  white-space: nowrap;

  height: 2rem;
  overflow: visible;
}

.nav-arrow .arrow-symbol {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1;
  font-size: 20px;
}

.nav-arrow .nav-label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  white-space: normal;
  word-break: break-word;
  text-align: center;
  padding-bottom: 0.25rem;
  margin-bottom: 0px;
  line-height: 1.2;
}

.nav-arrow:hover .arrow-symbol,
.nav-arrow:hover .nav-label {
  color: #757575 !important;
}

.nav-arrow:active .arrow-symbol,
.nav-arrow:active .nav-label {
  color: var(--light-mode-text-color) !important;
}

html.dark-mode .nav-arrow:active .arrow-symbol,
html.dark-mode .nav-arrow:active .nav-label {
  color: var(--dark-mode-text-color) !important;
}

a.nav-arrow {
  text-decoration: none;
}

a.nav-arrow:hover {
  text-decoration: none;
}

/* Left arrow pinned to the left side */
.nav-arrow-left {
  left: calc((100vw - 900px)/2 - 110px);
}

/* Right arrow pinned to the right side */
.nav-arrow-right {
  right: calc((100vw - 900px)/2 - 110px);
}

.nav-label {
  color: var(--light-mode-text-color);
  font-size: 14px;
  margin-bottom: 5px;

  /* display: block;
  text-align: center;
  white-space: nowrap; */
  transition: var(--transition);

  display: block;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto 5px;
}

html.dark-mode .nav-label {
  color: var(--dark-mode-text-color);
}

.arrow-symbol {
  /* font-size: 2rem; */
  text-decoration: none;
  color: var(--light-mode-text-color);
  /* display: inline-block; */
  cursor: pointer;
  
  display: block;
  /* text-align: center; */
  transition: var(--transition);
}

html.dark-mode .arrow-symbol {
  color: var(--dark-mode-text-color);
}

/* Bottom nav for small screens */
.nav-bottom {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1.2rem;
  z-index: 1004;
  background-color: #f1f1f1;
  border-top: var(--light-mode-border);
  transition: var(--transition);
}

.nav-bottom a {
  text-decoration: none;
  color: var(--light-mode-text-color);
  transition: var(--transition);
}

.nav-bottom a:hover {
  color: #757575 !important;
}

.nav-bottom a:active {
  color: var(--light-mode-text-color) !important;
}

html.dark-mode .nav-bottom {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-text-color);
  border-top: var(--dark-mode-border);
}

html.dark-mode .nav-bottom a {
  color: var(--dark-mode-text-color);
}

html.dark-mode .nav-bottom a:active {
  color: var(--dark-mode-text-color) !important;
}