#right-sidebar {
  display: none;
  border-left: var(--light-mode-border);
}

html.dark-mode #right-sidebar {
  border-left: var(--dark-mode-border);
}

@media (min-width: 1761px) {
  #right-sidebar {
    display: block;
    right: 0;
  }
}
