/* default hidden & left-border in light-mode */
#right-sidebar {
  display: none;
  border-left: var(--light-mode-border);
}

/* dark-mode border flips */
body.dark-mode #right-sidebar {
  border-left: var(--dark-mode-border);
}

/* show on ultra-wide screens */
@media (min-width: 1761px) {
  #right-sidebar {
    display: block;
    right: 0;
  }
}
