.sidebar {
  display: none;
  position: fixed;
  top: 43px;
  z-index: 1002;

  height: calc(100vh - 43px);
  width: var(--sidebar-w);
  box-sizing: border-box;
  padding: 0 10px;

  background-color: var(--light-mode-background-color);
  color: var(--light-mode-text-color);
  transition: var(--transition);

  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  overscroll-behavior: contain;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.sidebar::-webkit-scrollbar-track {
  background-color: var(--light-mode-background-color);
}

.sidebar:hover {
  scrollbar-color: #888 var(--light-mode-background-color);
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

.sidebar:hover::-webkit-scrollbar-track {
  background-color: var(--light-mode-background-color);
}

html.dark-mode .sidebar {
  background-color: var(--dark-mode-background-color);
  color: var(--dark-mode-text-color);

  scrollbar-color: transparent transparent;
}

html.dark-mode .sidebar::-webkit-scrollbar-track {
  background-color: var(--dark-mode-background-color);
}

html.dark-mode .sidebar:hover {
  scrollbar-color: #888 var(--dark-mode-background-color);
}

html.dark-mode .sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #888;
}

html.dark-mode .sidebar:hover::-webkit-scrollbar-track {
  background-color: var(--dark-mode-background-color);
}

.sidebar .w3-container:not(.w3-row) a,
.sidebar .w3-ul a {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar h4 {
  /* transition: var(--transition); */
  color: var(--light-mode-text-color);
}
html.dark-mode .sidebar h4 {
  color: var(--dark-mode-text-color);
}

.sidebar-menu-section {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.sidebar-section-link {
  font-size: 1.3rem;
  font-weight: 600;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.sidebar .w3-bar-item {
  display: block;
  padding: 8px 12px;
  border-radius: var(--pill-border-radius);
  transition: background-color 0s !important;
}

.sidebar-link-indent {
  width: auto !important;
  margin-left: 14px;
  margin-right: 14px;
}

hr.hr-sidebar {
  height: 1px;
  color: var(--light-mode-border-color);
  background: var(--light-mode-border-color);
  font-size: 0;
  border: 0;
  transition: var(--transition);
}

html.dark-mode hr.hr-sidebar {
  color: var(--dark-mode-border-color);
  background: var(--dark-mode-border-color);
}

.sidebar .w3-bar-item:hover,
.sidebar .w3-bar-item:focus {
  background-color: var(--light-mode-hover-background-color) !important;
  color: var(--light-mode-text-color) !important;
}

.sidebar .w3-bar-item.active {
  background-color: var(--light-mode-active-background-color) !important;
  color: var(--light-mode-text-color) !important;
  transition: var(--transition) !important;
}

html.dark-mode .sidebar .w3-bar-item:hover,
html.dark-mode .sidebar .w3-bar-item:focus {
  background-color: var(--dark-mode-hover-background-color) !important;
  color: var(--dark-mode-text-color) !important;
}

html.dark-mode .sidebar .w3-bar-item.active {
  background-color: var(--dark-mode-active-background-color) !important;
  color: var(--dark-mode-text-color) !important;
}

.submenu-header {
  display: flex;
  align-items: center;
}

.submenu-header .main-link {
  flex: 1;
  border-radius: var(--pill-border-radius);
  /* transition: var(--transition); */
}

.submenu {
  display: none;
  padding-left: 12px;
}

.submenu-wrapper.open .submenu {
  display: block;
}

.sidebar .profile-picture-icon {
  width: 46px;
}

hr.hr-sidebar-invisible {
  opacity: 0;
}

.close-side-menu {
  cursor: pointer;
}

.overlay-under-1181 {
  display: none;
}

@media (min-width: 1181px) {
  .overlay-under-1181 {
    display: none !important;
  }
}